# Dependencies
node_modules
.pnp
.pnp.js

# Next.js build output
.next
out

# Docker related
docker/caddy_data
docker/caddy_config
docker/convex-data
docker/Caddyfile
docker/.env

# Git
.git
.gitignore

# OS files
.DS_Store
Thumbs.db

# Documentation
README.md
docs