# ─────────────────────────────────────────────────────────
# Convex environment variables
# ─────────────────────────────────────────────────────────
CONVEX_SITE_URL=http://localhost:3211
CONVEX_SITE_INTERNAL_URL=http://localhost:3211
API_URL=http://localhost:3211
SITE_URL=http://localhost:3000
BETTER_AUTH_SECRET=53032651c91c5424057b76191ea2c24bf5f7654ce1fc610b3d49c375d1cbf255 # You can generate a new one with `openssl rand -hex 32`
JWT_SECRET=7c645259f87fdd5042015a9b4e9c4afcfd83a19e08236b42d14b49eb465a9068 # You can generate a new one with `openssl rand -hex 32`c
ALLOW_REGISTRATION=true



# ─────────────────────────────────────────────────────────
# Next.js environment variables
# ─────────────────────────────────────────────────────────
NEXT_PUBLIC_CONVEX_URL=${CONVEX_SITE_URL} # For local development, you have to set this to the URL of your local Convex API. You can override this with `NEXT_PUBLIC_CONVEX_URL` in a `.env.local` file if your Convex API is hosted at a different URL
NEXT_PUBLIC_CONVEX_SITE_URL=${CONVEX_SITE_URL} # For local development, you have to set this to the URL of your local Convex API. You can override this with `NEXT_PUBLIC_CONVEX_SITE_URL` in a `.env.local` file if your Convex API is hosted at a different URL
NEXT_PUBLIC_SITE_URL=${SITE_URL}
NEXT_PUBLIC_ALLOW_REGISTRATION=${ALLOW_REGISTRATION}